
@font-face {
    font-family: 'secondary';
    src: url('../assets/fonts/Metrisch Book.ttf'); 
    src: url('../assets/fonts/Metrisch Book.ttf')  format('truetype'),
    
}

@font-face {
    font-family: 'secondary-italic';
    src: url('../assets/fonts/Metrisch Book Italic.ttf'); 
    src: url('../assets/fonts/Metrisch Book Italic.ttf')  format('truetype'),
    
}

@font-face {
    font-family: 'secondary-bold';
    src: url('../assets/fonts/Metrisch Bold.ttf'); 
    src: url('../assets/fonts/Metrisch Bold.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'secondary-bolditalic';
    src: url('../assets/fonts/Metrisch Bold Italic.ttf'); 
    src: url('../assets/fonts/Metrisch Bold Italic.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'secondary-mediumitalic';
    src: url('../assets/fonts/Metrisch Medium Italic.ttf'); 
    src: url('../assets/fonts/Metrisch Medium Italic.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'secondary-light';
    src: url('../assets/fonts/Metrisch Light.ttf'); 
    src: url('../assets/fonts/Metrisch Light.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'secondary-lightitalic';
    src: url('../assets/fonts/Metrisch Light Italic.ttf'); 
    src: url('../assets/fonts/Metrisch Light Italic.ttf')  format('truetype'),
    
}

@font-face {
    font-family: 'secondary-medium';
    src: url('../assets/fonts/Metrisch Medium.ttf'); 
    src: url('../assets/fonts/Metrisch Medium.ttf')  format('truetype'),
}


@font-face {
    font-family: 'primary';
    src: url('../assets/fonts/Roboto-Regular.ttf'); 
    src: url('../assets/fonts/Roboto-Regular.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-bold';
    src: url('../assets/fonts/Roboto-Bold.ttf'); 
    src: url('../assets/fonts/Roboto-Bold.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-bolditalic';
    src: url('../assets/fonts/Roboto-BoldItalic.ttf'); 
    src: url('../assets/fonts/Roboto-BoldItalic.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-Thin';
    src: url('../assets/fonts/Roboto-Thin.ttf'); 
    src: url('../assets/fonts/Roboto-Thin.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-thinitalic';
    src: url('../assets/fonts/Roboto-ThinItalic.ttf'); 
    src: url('../assets/fonts/Roboto-ThinItalic.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-italic';
    src: url('../assets/fonts/Roboto-Italic.ttf'); 
    src: url('../assets/fonts/Roboto-Italic.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-mediumitalic';
    src: url('../assets/fonts/Roboto-MediumItalic.ttf'); 
    src: url('../assets/fonts/Roboto-MediumItalic.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-light';
    src: url('../assets/fonts/Roboto-Light.ttf'); 
    src: url('../assets/fonts/Roboto-Light.ttf')  format('truetype'),
    
}
@font-face {
    font-family: 'primary-lightitalic';
    src: url('../assets/fonts/Roboto-LightItalic.ttf'); 
    src: url('../assets/fonts/Roboto-LightItalic.ttf')  format('truetype'),
    
}

@font-face {
    font-family: 'primary-medium';
    src: url('../assets/fonts/Roboto-Medium.ttf'); 
    src: url('../assets/fonts/Roboto-Medium.ttf')  format('truetype'),
}
@font-face {
    font-family: 'prep';
    src: url('../assets/fonts/Merriweather-Black.ttf'); 
    src: url('../assets/fonts/Merriweather-Black.ttf')  format('truetype'),

}

.profileimage{
    background-color: gray;
    border-radius: 100px;
    max-height: 100%;
    max-width: 100%;
}   
.prep{
    font-family: 'prep';
}
body{
    font-family: 'primary' ;
    
}
.text-gold{
    color: #cdb068;
}
.text-secondary{
    font-family: 'secondary';
}
.text-primaryitalic{
    font-family: 'primary-italic' !important;
}
.text-primarybold{
    font-family: 'primary-bold';
}
.imgfit{
    max-height: 100%;
    max-width: 100%;
}
.imgfit100{
    width: 100%;
    height: 100%;
}

.text-white{
    color: #FFFFFF;
}
.img100{
    height: 100%;
    width: 90%;
    object-fit: contain;
}
.my-bg-dark{
    background-color: #222222;
}

.imglogofit{
    max-height: 70%;
    max-width: 70%;
    z-index: 0;
}

.primary{
    color: '#cdb068d';
}

.text-navy{
    color:#4d61b2;
}
.bg-navy{
    background-color: #4d61b2;
}

.bg-darkgrey{
    background-color: #222222;
}
.bg-black{
    background-color: black;
    backdrop-filter: brightness(0.1);
}
.bg-white{
    background-color: white;
}
.bg-gold{
    background-color: #cdb068;
}
.collapsedmenucontainer{
    display: block;
    background: #cdb068;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index:99999;
}

.unstyledbutton{
    background-color: transparent;
    border: none;
}
.custom-navbar{
    background-color: transparent;
}

.borderrightgold{
    border-right: solid 1px #cdb068;
}
    
.borderrightgoldmd{
    border-right: solid 2px #cdb068;
    display:flex;
    justify-content:center;
    align-items: center;
}

.biggerhover:hover{
    font-size: 3rem;
}
.verticallineprojects{
    border-left: 3px solid #cdb068;
    height: 100px;
    position: relative;
    width:100%;
}

.carousel.slide{
    height: 100%;
    display: flex !important;
    align-items: stretch !important;
    min-height: 50vh;
}
.carousel-item{
    height: 100%;
    text-align: center;
}

@media (max-width:1200px){
    .resp-height{
        width: 100%;
    }
}
@media (min-width:1200px){
    .resp-height{
        height: 70%;
    }
}

.vh100{
    min-height:100vh;
}

.mw-800{
    max-width: 3000px;
}

.background-image-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
.background-image{
    object-fit: contain;
    position: absolute;
    right: 40%;
    top: 0;
    height: 40%;
    z-index: 0;
    overflow: hidden;
    object-position: bottom;
}
.pageheader-background-image{
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    object-position: center;
    background-color: #000000;
    width: 100%;
    height: 100%;
}
.background-image1{
    object-fit: contain;
    position: absolute;
    left: 40%;
    bottom: 0;
    height: 40%;
    z-index: 0;
    overflow: hidden;
    object-position: bottom;
}
.background-image1-container{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
.background-image-normal{
    object-fit: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    overflow: hidden;
}

.background-image-multiple{
    background-size:cover !important; 
    background-repeat:no-repeat !important;
    background-position:center !important;            
}

.bg-hide{
    background-image: none !important;
}

.page-heading-background{
    background-size:cover; 
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}



.parallex_content{
    position: fixed;
    background-size: contain;
    width: 100%;
    background-repeat: repeat-y;
    background-size:contain;
    height: 300vh;
    background-position-x: 10%, 0px;

}

body{
    /*position: relative*/
    /*background-image: url('../assets/images/1.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;*/
}

.styled-block{
    position: relative;
}
/*
.css-omuf5h{
    display: block;
    margin: 0 auto;
    top:100px;
}
*/

.unstyledbtn{
    background: transparent;
    border: none;
}
.fixedheight{
    height: 50px;
    position: relative;
}

@keyframes moveupdown{
    from {top: 0%;}
    to {top: 30%;}
}

.animationtoptobottom{
    position: relative;
    animation: moveupdown 1s infinite;
}

@keyframes carouselcaption{
    from{background-color: transparent;}
    to{background-color: #000000DD;}
}

@keyframes carouselcaptionreverse{
    from{background-color: #000000DD;background-image: none;}
    to{background-color: transparent;background-image:linear-gradient(transparent,black);}
}

.carousel-caption-half{
    width: 100%;
    left: 0;
    bottom: 0;
    height: 45%;
    background-image: linear-gradient(transparent,black);
    display: flex !important;
    animation: carouselcaptionreverse 1s forwards;
}

.carousel-caption-full{
    width: 100%;
    left: 0;
    bottom: 0;
    height: fit-content;
    max-height: 100%;
    display: flex !important;
    animation: carouselcaption 1s forwards;
}



.text-overflows{
    text-overflow: ellipsis;
    overflow: hidden;
}

.carousel-caption-half p{
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer;
    padding: 20px;
}

.carousel-caption-full p{
    overflow-y: auto;
    margin-bottom: 0;
    cursor: pointer;
    padding: 20px;
}

.carousel-overlay{
    position:absolute;
    height:100%;
    left:0;
    width:100%; 
    background-color:#00000000;
    top:0;
    cursor: pointer;
}
.carousel-overlay-full{
    position:absolute;
    height:100%;
    left:0;
    width:100%; 
    top:0;
    cursor: pointer;
}

hr{
    height: 1px;
    background-color: #cdb068;
    border: none;
    width: 5%;
    opacity: 1 !important;
}
@media (max-width:700px) {
    hr{
        width:10%
    }
}

.fade-enter{
    opacity: 0;
    transform: translateX(-100%);
}
 .fade-exit{
    opacity: 1;
    transform: translateX(0%);
 }
 .fade-enter-active{
    opacity: 1;
    transform: translateX(0%);
 }
 .fade-exit-active{
    opacity: 0;
    transform: translateX(100%);
 }
 .fade-enter-active{
    transition: opacity 500ms, transform 500ms;
 }
 .fade-exit-active{
    transition: opacity 500ms, transform 500ms;

 }

 .fade-appear{
     opacity: 0;
     z-index: 1;
 }

 .fade-appear.fade-appear-active{
     opacity: 1;
     transition: opacity 500ms linear;

 }
 .w-5{
     width: 5%;
 }

 #formwhite .MuiInput-underline::before{
    border-bottom: 1px solid #3c3c3c !important;
}
#formwhite .MuiFormLabel-root{
    color: white !important;
}

.MuiFormLabel-root{
    font-family: 'primary-bold' !important;
}

.MuiFormLabel-root.Mui-focused{
    color: #cdb068 !important;
}
a.unstyled{
    color: unset;
    text-decoration: unset;
}


a.unstyled:hover{
    color: #cdb068;
}

.logoscontrolleft.carousel-control-prev{
    left: -15%;
}
.logoscontrolright.carousel-control-next{
    right: -15%;
}
#formwhite input{
    color: white !important;
}
#formwhite textarea{
    color: white !important;
    font-family: 'primary-bold';
}

@media(min-width:700px){
    .min-100{
        min-height: 100vh;
    }
}
.offcanvas{
    background-color: #222222;
}
.imgfit-logo{
    max-width: 50%;
    max-height: 50%;
}
.navitem{
    border-bottom: 1px solid #FFFFFF;
    padding: 10px 20px;
    width: 60%;
}
.activenavitem{
    padding: 10px 20px;
    width: 60%;
    background-color: #cdb068;
    color: #000000;
    border-bottom: 1px solid #cdb068 ;
}

.header-notransition-bg-color{
    background-color: #222222;
    border-radius: 0px 0px 100px 100px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.header-notransition-bg-color a.active{
    color: white !important;
}

.header-notransition-bg-color a{
    color: white !important;
}

.transition-bgcolor{
    background-color: #222222;
    border-radius: 0px 0px 100px 100px;
    transition: background-color 1s;
}

.transition-bgcolor a.active{
    color: white !important;
    transition: color 1s;
}

.transition-bgcolor a{
    color: white !important;
    transition: color 1s;
}

.nav-link.active{
    font-family: 'primary-medium';
}

.transition-bgcolor a.active:hover{
    color: #cdb068 !important;
}


.transition-bgcolor a:hover{
    color: #cdb068 !important;
}

.transition-bgcolor{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.nav-link{
    font-family: 'primary-light';
}
.force-text-dark h4{
    color: black !important;
}
.force-text-dark h6{
    color: black !important;
}

.zoom-on-hover:hover{
    transform: perspective(1000px) translateZ(10px);
    transition: 0.3s;
}


.zoom-on-hover-100:hover{
    transform: perspective(1000px) translateZ(100px);
    transition: 0.3s;
}
.zoom-on-hover-100{
    transition: 0.3s;
}

.zoom-on-hover{
    transition: 0.3s;
}

.backgroundzoomonhover:hover{
    background-size: 110% cover;
    transition: 0.5s;
}

.backgroundzoomonhover{
    background-size: 100% cover;
    transition: 0.5s;
}